textarea{
    resize: none;
}
.form  {
    width: 503px;
    height: 503px;
}
.form input, .form textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fdfdfd;
}
.form input:focus, .form textarea:focus{
background-color: transparent;
border: none;
}


.button{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
 form button{
    background-color: #4EBA85;
    border-radius: 4px;
    /* padding: 24px 32px; */
    color:#fff;
    width: 148px;
    height: 56px;
    
 }

 .footer-left{
    position: absolute;
    top: 40px;
    left: 10%;
    transform: rotate(90deg);
    animation: oxuFirlat 2s linear infinite;
 }
 .footer-right{
    position: absolute;
    right: 50px;
    bottom: 10px;
 }

 @keyframes oxuFirlat {
    from{
        transform: rotate(0);
    }
    to {
     transform: rotate(360deg);   
    }
 }



 /* mobile */


 
